<h1>Listing addressbooks</h1>
<div id="addressbooks">
  <%= render :partial => 'addressbook', :collection => @addressbooks %>
</div>


<%= form_tag addressbooks_path,:remote => true, :method => :get, :id => "addressbooks_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="paginator">
  <%= paginate @addressbooks, :remote => true %>
</div>
<%= link_to 'New Contact', new_addressbook_path %>
